.parentCardPage {
    width: 100vw;
    max-width: 1110px;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 61px;
    padding-bottom: 142px;
}

.top_parentCardPage {
    width: 100%;
    height: 90px;
    margin-bottom: 20px;
}

.middle_parentCardPage {
    width: 100%;
    /* height: 248.032px; */
}

.down_parentCardPage {
    width: 100%;
    /* height: 70px; */
}

.title_CardPage {
    color: var(--black, #272727);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 57.6px;
    /* 221.538% */
    letter-spacing: -0.9px;

}

.des_CardPage {
    display: flex;
    align-items: center;
    justify-content: center;
}
.des_CardPage .a {
    color: var(--green, #56B280);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px;
    /* 142.222% */
    letter-spacing: -0.9px;
    text-decoration-line: underline;
    cursor: pointer;
}

.heading_tab {
    height: 48.032px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.line_parentCardPage {
    width: 97vw;
    max-width: 1110.007px;
    height: 1px;
    background: #E5E5E5;
}

.total_parentCardPage {
    display: flex;
    justify-content: flex-end;
    width: 93px;
    height: 26px;
}

.quantity_parentCardPage {
    /* width: 350px; */
    height: 26px;
}

.price_parentCardPage {
    width: 350px;
    height: 26px;
}
.product_parentCardPage {
    width: 100%;
    /* height: 26px; */
}
@media (max-width: 1110px) {

    .heading_tab {
        display: none;
        grid-template-columns: 1fr 100px;
        /* justify-content: space-evenly; */
    }

    .product_parentCardPage {
        /* width: 7ch; */
        /* height: 26px; */
        grid-column: 1/2;
    }

    .price_parentCardPage {
        /* width: 5ch; */
        grid-column: 2/4;
    }
    .total_parentCardPage,
    .quantity_parentCardPage {
        display: none;
    }
}


.product_tab {
    /* height: 200px; */
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    align-items: center;
    padding-block: 35px;
}
@media (max-width: 1110px) {
    .product_tab {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 100px;
        width: 100vw;
        height: fit-content;
    }
}
@media (max-width: 600px) {
    .product_tab {
        grid-template-columns: 1fr auto;

    }
}
.total_product {
    width: 93px;
    display: flex;
    justify-content: flex-end;
    color: var(--black, #272727);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.6px;
    /* 142.222% */
    letter-spacing: -0.9px;
}

.quantity_product {
    /* width: 350px; */
    height: 26px;
}

.quantity {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 58px;
    color: var(--green, #56B280);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px;
    /* 142.222% */
    letter-spacing: -0.9px;
    border: 1px solid var(--green, #56B280);
}

.unitPrice_product {
    width: 350px;
    color: var(--black, #272727);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.6px;
    /* 142.222% */
    letter-spacing: -0.9px;

}

.productSection_product {
    width: 100%;
    height: 26px;
}

.productSection_product {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}
@media (max-width: 1110px) {
    .productSection_product {
        grid-row: 1/5;
        grid-column: 1/2;
    }
    .total_product {
        display: none;
    }
    .quantity_product {
        grid-row: 3/4;
        grid-column: 2/4;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .unitPrice_product {
        grid-row: 2/3;
        grid-column: 2/4;

        width: fit-content;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.productName_product {
    display: flex;
    align-items: flex-end;
    /* width: 445px; */
    /* height: 37px; */
    color: var(--black, #272727);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    /* line-height: 57.6px; */
    /* 221.538% */
    letter-spacing: -0.9px;
}
@media (max-width: 600px) {
    .productName_product {
        font-size: 1rem;
    }
}

.removeItem {
    width: 95px;
    height: 26px;
    color: var(--green, #56B280);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px;
    /* 142.222% */
    letter-spacing: -0.9px;
    text-decoration-line: underline;
    padding-top: 20px;
    cursor: pointer;
}

.image_product {
    background: rgb(245, 244, 244);
}

@media (max-width: 600px) {
    .image_product {
        width: 20vw;
    }
}

.right_productSec {
    width: 100%;
    padding-left: 30px;
}
@media (max-width: 600px) {
    .right_productSec {
        padding-left: 10px;
    }
}

.Number {
    color: #1D252C;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px;
    letter-spacing: -0.9px;
}

.tafrigh {
    color: #A7A7A7;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px;
    letter-spacing: -0.9px;
}

.down_parentCardPage {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: row-reverse;
    gap: 70px;
    padding-top: 30px;
}
.content_parentCardPage {
    /* width: 350px; */
    /* height: 61px; */
    
}

.up_content_parentCardPage {
    /* height: 50px; */
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 9px;
}

.des_up_content {
    width: 95px;
    /* height: 26px; */
    color: var(--black, #272727);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.6px;
    /* 128% */
    letter-spacing: -0.9px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.price_up_content {
    width: 95px;
    height: 26px;
    color: var(--black, #272727);
    text-align: right;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.6px;
    /* 128% */
    letter-spacing: -0.9px;
}

.down_content_parentCardPage {
    /* width: 350px;
    height: 26px; */
    color: #9E9E9E;
    text-align: right;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px;
    /* 160% */
    letter-spacing: -0.9px;
}
@media (max-width: 600px) {
    .down_parentCardPage {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
    .up_content_parentCardPage {
        justify-content: center;
    }
    .down_content_parentCardPage {
        display: flex;
        justify-content: center;
    }
}

.button {
    transition: all 0.3s ease-in-out;
    padding-block: 8px;
    padding-inline: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    outline: none;
    overflow: hidden;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    background: var(--green, #56B280);
}
@media (max-width: 375px) {
    .button {
        width: 97%;
    }
}
.icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    transform: scale(1.05);
}

.counter {
    width: 100%;
    max-width: 100px;
}