.Home1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 1440px;
    height: 780px;
    background: white url("/images/bg-image.svg") center no-repeat fixed;
}

.card_center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90vw;
    max-width: 730px;
    height: 349px;
    border-radius: 2px;
    background: rgba(247, 248, 250, 0.80);
    backdrop-filter: blur(15    px);
}

.content_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 540px;
    height: 170px;

    color: #1D252C;
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Helvetica;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 25.6px; /* 142.222% */
    }
    .hero_title {
        color: #1D252C;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    /* font-family: Poppins; */
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 57.6px; /* 144% */
    }